/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 вер. 2020 р., 10:47:54
    Author     : 38068
*/
* {
    box-sizing: border-box;
    margin:0pt;
    font-family: arial;

}
h1, h2 {
    color:#C45911; 
    font-family: arial black;
    font-weight: bold;
}

.header1 {
    width: 100%;
    background-color: #333F50;
    float:left;
    text-align: center;
    margin: 0pt ;
    padding-bottom: 10px;
    line-height: 1.8;
}

.header1 > h1{margin: 40px 0 0 0; }

.header1 > p, h1 > span {

    color: white;
}

.header1 > p {font-family: times;

}

h1 > span {
    font-family: arial black;
    font-weight: bold;}

.block2 { 
    float: left;
    padding: 3px;
    font-size: 110%;
    margin: 5px 1vw 5px 5vw;


}

img {

    border-radius: 55px;
    border-width: 2px;
    border-color: #333F50;
    border-style: solid;
    padding: 1px;
    width: 100%;
    height: auto;

}

.subblock21 {

    float: left;
    margin: 0px;
}

.subblock22 {

    float: right;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.block3 {
    padding: 10px;
    border-top: 1px solid black;
    float: left;
    margin: 0px;
    line-height: 1.1;

}

h3 {
    line-height: 1.8;

}

.block4 {
    border-right: 1px solid black;
    margin: 0px 0vw 0px 5vw;

}

.rightalign {
    margin-top: 20px;
    text-align: right;
    font-style: italic;
    font-size:90%;

}

.topmargin {
    margin-top: 20px;
}
